<div class="input-group">
  <input type="file" multiple class="custom-file-input" id="customFile" onchange={{action "onChange"}}>
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>